<h1 id="divein-coaching-a-research-group-focused-on-the-investigation-of-lifelong-coaching-through-immersive-education.">Divein Coaching: A research group focused on the investigation of lifelong coaching through immersive education.</h1>
<h2 id="what-you-will-publish">What you will publish</h2>
<p>All of our articles are published in international peer-reviewed journals focusing on psychology, education, or data sciences. The group is led by Ricardo Pietrobon, whose research publications are publicly available at <a href="http://scholar.google.com/citations?user=F5m0nQoAAAAJ&amp;hl=en">Google Scholar</a>.</p>
<p>All articles are written by Dr. Pietrobon to accelerate the process, with collaborators invariably becoming co-authors in positions that vary from first author, second author or other positions depending on their contribution. Co-authors are always encouraged to write the articles themselves if they might want. Productivity will depend on the researcher time availability and commitment to the project, but previous researchers have published up to 10 peer-reviewed articles within 12 months.</p>
<h2 id="what-you-will-learn">What you will learn</h2>
<p>In this program researchers will learn three basic skills:</p>
<ol style="list-style-type: decimal">
<li>Literature search: Researchers will learn the methodology to conduct thorough literature searches and the corresponding article storage using modern bibliographic software packages.</li>
<li>Data collection: Researchers will learn how to use crowd-sourced data collection to quickly collect data from hundred of participants to either investigate the measurement of common psychological dimensions used in immersive education or conducting randomized experiments</li>
<li>Data management: Researchers will learn the basic skills required to conduct data management for educational datasets. Depending on their interests, these skills can be extended to more complex statistical and data mining methods.</li>
</ol>
<h2 id="logistics">Logistics</h2>
<p>The group meets through a <a href="http://www.google.com/+/learnmore/hangouts/">Google Hangout</a> video-conference every Sunday, when all projects are revised for the progress made during the week and plans are made for the following seven days. Additional video conferences can be scheduled during the week as needed</p>
<h2 id="remuneration">Remuneration</h2>
<p>The program does not provide remuneration, although researchers successfully conducting their research projects might be assisted in submitting proposals for &quot;sandwich PhD programs&quot; in partnership with American Universities.</p>
